# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/The_Well.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
thewell/
__pycache__/character_pc.cpython-36.pyc
__pycache__/views.cpython-36.pyc
documentation/flaws_merits
templates/__pycache__/templates.cpython-36.pyc
.idea/dataSources.local.xml
.idea/dataSources/be2b77d0-13e9-4deb-9e88-fc4254b7382c/_metadata_/metadata
.idea/dataSources/be2b77d0-13e9-4deb-9e88-fc4254b7382c/_metadata_/metadata.keystream
.idea/dataSources/be2b77d0-13e9-4deb-9e88-fc4254b7382c/_metadata_/metadata.keystream.len
.idea/dataSources/be2b77d0-13e9-4deb-9e88-fc4254b7382c/_metadata_/metadata.len
.idea/dataSources/be2b77d0-13e9-4deb-9e88-fc4254b7382c/_metadata_/metadata_i
.idea/dataSources/be2b77d0-13e9-4deb-9e88-fc4254b7382c/_metadata_/metadata_i.len
